{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post">
<table>

{{form|crispy}}


</table>
<input class="btn btn-success btn-sm" type="submit" value="Save" />
</form>

{% endblock %}