


{% extends 'base.html' %}


{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Forgot Password</h3>
                </div>
                <div class="panel-body">
  <form method="post" action="{% url 'django.contrib.auth.views.password_reset' %}">{% csrf_token %}
   <p class="bs-component">
  <table>
  <h6>  Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</h6>
     <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
        <td><button type="submit">Reset</button></td>
    </tr>
    </table>
    
    
  
  </form>
{% endblock %}